<div id="scrollElemennt" class="aboutWrapper">
   <div class="photoMe" style="top:{{ value }}px"></div>
   <div class="contentWrapper">
      <div class="nameWrapper">
         <h1>Damian Rabiński</h1>
         <p>freelancer - web & aplication <span>developer</span></p>
         <i class="rd-icon-logo icon"></i>
      </div>
      <div class="informationWrapper">
         <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda eius esse neque nihil nostrum
            obcaecati odit officia officiis perspiciatis quam quasi qui, quod repellendus saepe sit sunt suscipit
            voluptatum?
         </p>
      </div>
   </div>
</div>
