<div class="headerContainer">
   <div class="iconElement">
      <i class="rd-icon-logo iconLogo"></i>
      <p class="logoInformation">Software Developer</p>
   </div>
   <div class="mediaWrapper">
      <a class="socialIcon" *ngFor="let media of medias" href="{{ media.url }}" target="_blank">
         <i *ngIf="media.active" class="{{ media.icon }} "></i
      ></a>
   </div>
   <!--   <div class="buttonLanguage">-->
   <!--      @if (language === 'pl') {-->
   <!--         <button (click)="changeLanguage()" class="languageChange polish">{{ language }}</button>-->
   <!--      } @else if (language === 'en') {-->
   <!--         <button (click)="changeLanguage()" class="languageChange english">{{ language }}</button>-->
   <!--      }-->
   <!--   </div>-->
</div>
